body{
    background-color: grey;
}
h1{
    text-align: center;
    color: white;
    font-size: 50pt;
}

image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}