body{
    background-color: rgb(160, 160, 160);
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: red;
    text-decoration: none; /*tira o sublinhado dos links*/
}
a:visited{ /*o site ja foi visitado por mim antes
    por isso o link aparece em azul e não em vermelho*/
    color: blue;
}

a:hover{ /*quando passo o mouse emcima fica em negrito
    e sublinhado*/
    text-decoration: underline;
    font-weight: bold;
}

a:active{ /*quando clicar no link ele fica verde*/
    color: green;
}
/*
a::after{     pseudo-elemento = ::
    content: ' [link]'; adiciona palavras
    text-decoration: none;
    font-weight: normal;
    color: black;
}
*/

a::before{
    content: ' ⇒';
}

a::after{
    content: ' ⇐';
}


/*
# = id
. = class
: = pseudo-class
:: = pseudo-element
> = children
*/